.heading {
    margin-top: 40px; /* margin-bottom = margin-top */
    margin-bottom: 40px;

    font-size: 136px;
    line-height: 136px;
    font-weight: 500;
    letter-spacing: -0.025em;

    position: relative;

    color: var(--heading);
}

.heading::selection {
    color: var(--heading);
    background-color: transparent;
}

.copy {
    margin-top: 40px;
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 40px;
    
    color: var(--copy);
}

.label-copy {
    color: var(--copy);

    margin-top: 40px;
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 40px;
}

.emphasize {
    color: var(--emphasize);
}

.subheading {
    margin-top: 80px; /* margin-bottom * 2 = 80px */
    margin-bottom: 40px;

    font-size: 68px; /* 136px / 2 = 68px */
    line-height: 68px; /* 136px / 2 = 68px */
    font-weight: 500;
    letter-spacing: -0.025em;

    position: relative;

    color: var(--heading);
}

.subheading::selection {
    color: var(--heading);
    background-color: transparent;
}